.carousel-item {

	.testimonial-item-header,
	.testimonial-item-content {
		opacity: 0;
		visibility: hidden;
	}

	&.is-active {

		.testimonial-item-header,
		.testimonial-item-content {
			opacity: 1;
			visibility: visible;
			animation: testimonialHeaderIn .5s ease both;
		}

		.testimonial-item-header {
			animation: testimonialHeaderIn .5s ease both;
		}

		.testimonial-item-content {
			animation: testimonialContentIn .5s ease both;
		}
	}
}

.testimonial-item-image {
	position: relative;
	display: inline-flex;
	vertical-align: top; // fix whte space

	img {
		position: relative;
		width: 88px;
		height: 88px;
		border-radius: 50%;
		align-self: center;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: calc(50% - 111px);
		width: 222px;
		height: 92px;
		background-image: inline-svg('<svg width="222" height="92" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M21.215 21.704c1.148.639 2.318 1.237 3.472 1.86a90.47 90.47 0 0 0 3.488 1.818c1.17.59 2.339 1.18 3.506 1.767l3.546 1.67 1.77.836 1.79.78 3.575 1.56 3.606 1.448 1.8.718 1.817.663 3.625 1.315 3.65 1.193 1.818.587 1.832.529 3.651 1.04 3.662.902 1.824.442 1.83.38c1.22.243 2.435.485 3.645.728 1.214.217 2.431.397 3.64.587.593.525 1.792.264 2.247.737 3.859.205 8.431.823 11.692 1.928-.12-.228-.744-.556-1.513-.817-.773-.256-1.688-.441-2.275-.49-1.407-.655-3.037-1.06-4.756-1.405l-2.665-.499a83.952 83.952 0 0 1-2.745-.585 59.157 59.157 0 0 1-4.847-1.331c-1.615-.517-3.255-.962-4.891-1.459-6.412-1.768-12.77-3.61-18.86-5.66-6.087-2.05-11.922-4.283-17.182-6.84-1.739-.504-3.608-1.517-5.474-2.446-1.842-.983-3.656-1.934-5.34-2.315-.358-.72-2.08-1.532-3.683-2.383-1.614-.83-3.03-1.816-2.827-2.693-1.258-.875-2.4-1.606-3.429-2.367l-3.001-2.18c-1.004-.705-1.975-1.497-3.06-2.341-1.077-.856-2.272-1.76-3.57-2.897-.478-1.52-2.762-3.495-1.564-4.34.676-.478 2.338.237 4.17 1.24l1.397.79L8 4.95c.925.507 1.79.977 2.494 1.303 1.317 1.106 3.271 2.372 5.224 3.55 2 1.107 4.033 2.078 5.573 2.509 6.674 3.528 13.465 7.2 20.156 9.236.403-.4-.322-.669-.643-1.01.585-1.187-1.034-3.216 1.429-3.143-.275-.825.222-1.07.893-1.189.68-.137 1.537-.154 1.981-.48C51.59 16.979 59.246 20 67.328 21.88l1.5.361 1.508.317 3.007.647 5.958 1.134 5.826.964c2.018.315 4.266.671 6.645 1.21 1.875.43 4.07 1.025 6.396 1.959 2.315.93 4.786 2.253 6.83 3.812 2.02 1.536 3.531 3.135 4.545 4.512 1.02 1.381 1.556 2.546 1.698 3.384.141.971-.601 1.56-.307 2.586-1.175.496-1.398 1.956-3.129 1.301-1.844-1.207-3.89-2.733-6.294-4.122a29.552 29.552 0 0 0-3.83-1.873 30.637 30.637 0 0 0-3.989-1.28c.34.347.955.522 1.575.764.618.221 1.238.512 1.538.933 1.2.464 2.57 1.207 3.89 2.208 1.329.995 2.617 2.24 3.804 3.641 1.191 1.402 2.283 2.958 3.315 4.575 1.027 1.618 2.006 3.288 2.996 5.01 2.042 3.55 4.374 7.786 5.659 11.537 1.288 3.752 1.547 6.952-.186 8.305-1.33 1.044-3.06 1.425-4.913-1.04-.905-1.945-2.267-3.266-3.124-4.951-.507-.987-.545-2.001-1.014-2.986-1.137-2.396-3.012-4.342-4.78-6.874a61.257 61.257 0 0 1 5.061 10.48c1.354 3.666 2.277 7.377 2.656 10.709-.503.776-.78 1.736-.92 2.781-.139-.746-.152-.467-.453-.221-1.11-1.312-2.228-3.389-3.337-5.545-1.103-2.157-2.198-4.397-3.109-6.067a110.378 110.378 0 0 0-6.03-9.799 72.785 72.785 0 0 0-2.22-3.104c-1.534-2.027-2.85-3.229-3.71-3.732a9.917 9.917 0 0 0-1.997-.864c-.912-.295-2.062-.58-3.451-.842-1.373-.265-2.965-.514-4.752-.806l-5.461-.991c-3.629-.73-7.229-1.528-10.766-2.471-14.15-3.731-27.418-9.119-38.703-15.598-3.984-2.252-7.64-4.446-9.651-6.585.021-.403.471-.128.796-.05-2.066-1.685.424-1.911-.483-3.386.701.308.83-.301 1.643.19-.426-.581-.233-1.127-.467-1.696 1.26.338 2.64.3 3.934 1.28.377.016.17-.777.463-.375.234.385-.12.254-.28.483" fill="#525A75" opacity=".48"/><path d="M165.5 62.592c.72-.86.974.02 1.425.12 1.427.322 3.53-.398 4.817.66 1.314-.268 2.082.42 3.468.777.6.15 1.363-.095 1.945.041 2.511.607 4.804 1.403 7.225 2.34.248.097.5.232.753.386.584.351 1.436.484 1.897.989.503.558.168 2.32-.71 4.1-1.434 1.695-2.297.917-3.358.596-1.776-.543-4.052-1.654-5.666-2.374-1.234-.56-2.542-.99-3.686-1.656-1.176-.682-2.418-1.115-3.518-1.867-.803-.544-1.436-1.48-2.206-2.051a20.366 20.366 0 0 1-2.386-2.06" fill="#02C6F1"/><path d="M174.849 89.832c-2.537-3.857-5.162-7.669-7.728-11.511-.14-.21-.64.13-.512.35 2.336 3.97 3.228 9.011 6.301 12.483.623.705 2.476-.505 1.939-1.322" fill="#F2CB92"/></g></svg>');
		background-repeat: no-repeat;
	}
}

.carousel-bullets {
	margin-top: 32px;
}

@keyframes testimonialHeaderIn {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes testimonialContentIn {
    0% {
        opacity: 0;
        transform: translateY(8px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
